<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chatbox API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/chatapiicon.png') }}">
</head>

<body>
    <div id="chino" hidden>
        <button onclick="hide()"><h1>X</h1></button>
    </div>


    <div id="main">
        <div id="title">
            <h1>CHATBOX API!!</h1>
            <p onclick="show()">Shhh!</p>
        </div>
        <br>
        <br>
        <details>
            <summary>/send/</summary>
            <ul>
                <li>Input</li>
                <ul>
                    <li><b>?name=</b>: Tên người gửi (0 < name.length <=100)</li>
                    <li><b>&content=</b>: Nội dung gửi (0 < content.length <=4000)</li>
                </ul>
                <li>Return</li>
                <ul>
                    <ul>
                        <li>Thành công</li>
                        <ul>
                            <li>sent: <b>true</b></li>
                            <li>timestamp: Thời gian đã gửi (Dưới dạng xâu <b>DD/MM/YYYY HH/MM/SS</b>)</li>
                        </ul>


                        <li>Thất bại</li>
                        <ul>
                            <li>sent: <b>false</b></li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </details>
        <details>
            <summary>/get/</summary>
            <ul>
                <li>Input</li>
                <br>
                <br>
                <li>Return</li>
                <ul>
                    <ul>
                        <li>Thành công</li>
                        <ul>
                            <li>got: <b>true</b></li>
                            <li>
                                <details>
                                    <summary>data: Tất cả các tin nhắn được lưu trữ dưới dạng JSON</summary>
                                    Dưới đây chỉ là đại diện cho 1 tin nhắn (Object)
                                    <ul>
                                        <li>name: <b>Người đã gửi</b></li>
                                        <li>content: <b>Nội dung</b></li>
                                        <li>timestamp: Thời gian đã gửi (Dưới dạng xâu <b>DD/MM/YYYY HH/MM/SS</b>)</li>
                                    </ul>
                                </details>
                            </li>

                        </ul>


                        <li>Thất bại</li>
                        <ul>
                            <li>got: <b>false</b></li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </details>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>